<h1><%= t 'specimen.listing' %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specimen.each do |speciman| %>
  <tr>
    <td><%= speciman.title %></td>
    <td><%= link_to (t 'shipments.nav'), speciman_shipments_path(speciman) %></td>
    <td><%= link_to (t 'nav.Show'), speciman %></td>
    <td><%= link_to (t 'nav.Edit'), edit_speciman_path(speciman) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t 'specimen.nav-new'), new_speciman_path %>
