<h1><%= t 'specimen.listing' %></h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specimen.each do |speciman| %>
  <tr>
    <td><%= link_to (speciman.title), edit_speciman_path(speciman) %></td>
    <td><%= link_to (t 'shipments.nav'), speciman_shipments_path(speciman) %></td>
    <td><%= link_to (t 'factors.title'), speciman_factors_path(speciman) %></td>
    <!-- %= link_to (t 'nav.Show'), speciman %  -->
    <td><%= nil %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t 'specimen.nav-new'), new_speciman_path %>
