<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @speciman.title %>
</p>

<p>
  <b></b>
  <%= link_to 'Factors', speciman_factors_path(@speciman) %>
</p>


<%= link_to 'Edit', edit_speciman_path(@speciman) %> |
<%= link_to 'Back', specimen_path %>
