<p id="notice"><%= notice %></p>

<p>
  <b>Speciman:</b>
  <%= @shipment.speciman.title %>
</p>

<p>
  <b>Batch number:</b>
  <%= @shipment.batch_number %>
</p>

<p>
  <b>Check number:</b>
  <%= @shipment.check_number %>
</p>

<p>
  <b>Manuf date:</b>
  <%= @shipment.manufdt %>
</p>

<p>
  <b>Release date:</b>
  <%= @shipment.releasedt %>
</p>

<p>
  <b>Expire date:</b>
  <%= @shipment.expiredt %>
</p>


<%= link_to 'Edit', edit_speciman_shipment_path(@speciman, @shipment) %> |
<%= link_to 'Back', speciman_shipments_path(@speciman) %>
